.videoItem{
    display: flex;
    margin-top: 22px;
    height: 100px;

    &__left{
       width: 40%;
       
    }


    &__right{
        width: 60%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--title {
            margin: 0;
        }

        &--publisher{
            padding: 0;
            color: rgb(88, 88, 88);
            margin: 0;
        }
    }
}

a{
    text-decoration: none;
    color: black;
}