.videoDescription{
    &__details {
       display: flex;
       border-bottom: 1px solid #ccc;
       padding-right: 20px;
       padding-bottom: 22px;
     &--left {
       width: 50%;
     }

     &--left span:first-child{
        margin-right: 20px; 
      }

      &--left span:nth-child(2){
          color: #aaa;
      }

     &--right {
        width: 50%;
        text-align: right;
    }

    &--rightviews{
        margin-right: 40px;
    }

    &--right img{
       vertical-align: middle;       
    }
    }

    p{
        width: 80%;
        padding-top: 25px;
    }
}